.vscode
.DS_Store
Day_32/birthday_wisher/credentials.py
Day_32/motivation_msg/credentials.py
Day_33/iss_overhead/credentials.py
Day_32/birthday_wisher/birthdays.csv
Day_35/rain_alert/credentials.py
Day_36/stock_news_monitoring/credentials.py

Day_38/credentials.py